@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
}

html {
    color: #FFFFFF;
    scroll-behavior: smooth;
}

main {
    background-color: #1c1c1c;
}

.hide {
    display: none;
}

.btn {
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 8px;
    background-color: #1E90FF;
    color: #fff;
    transition: .5s;
    white-space: nowrap;
}

.btn:hover {
    background-color: rgb(23, 125, 255);
    transform: translate( 0px, 3px);
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 26px;
    padding-bottom: 30px;
}

 a {
    text-decoration: none;
}

/*--------SCROLL REVEAL---------*/
#btn-curriculo, 
.img-computer, 
.my-photo, 
.programas {
    visibility: hidden;
}

@media screen and (max-width: 650px) {
    .tec-content {
        flex-direction: column;
        gap: 12vw;
        padding: 2rem;
    }

    .outros-conhecimentos {
        padding: 0;
    }

    footer {
        flex-direction: column;
        gap: 20px; 
        height: 210px; 
    }

    .img-and-content p {
        text-align: justify;
    }
}

@media screen and (max-width: 800px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        min-height: calc(100vh - 250px);
        padding-top: 150px;
    }

    .img-computer {
        width: 60vw;
        margin-top: 15px;
    }

    #header {
        padding: 1rem 1rem;
    }

    #btn-mobile {
        border: none;
        display: block;
        background: transparent;
        cursor: pointer;
    }

    #menu {
        display: block; 
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #000;
        transition: .4s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active  #menu {
        height: 100vh;
        visibility: visible; 
    }

    #menu a {
        padding: 1.3rem 0;
        text-align: center;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, .05);
    }

    #sobre-mim div {
        flex-direction: column;
    }

    #programas-text {
        display: block;
    }

    .descrição-tec {
        width: 80%;
        margin: 30px auto 60px;
    }
}

@media screen and (max-width: 400px) {
    #home h1 {
        font-size: 6.6vw;
    }

    #home h1 span {
        font-size: 9.4vw;
    }

    .my-photo {
        width: 64vw;
    }
    .descrição-tec {
        width: 100%;
    }
}